{
    "presets": ["env"],
    "plugins": ["transform-runtime"],
    "env": {
        "test": {
            "presets": [
                [
                    "env"
                ]
            ]
        }
    }
}